<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Ponteggio Test App</title>
    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'ponteggio' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="menu">
      <ul>
        <% [Thing, Piece].each do |model| %>
          <li><%= link_to model.human_name, polymorphic_path(model.new) %></li>
        <% end %>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>